*.class
bin/
.project
.classpath
.settings
out/
tasks/**/.idea/
tasks/scala/2/.bsp/
tasks/scala/2/project/project/
tasks/scala/2/target/
tasks/scala/2/project/target/
tasks/scala/2/project/build.properties